.a {
    height: 100vh;
    display: flex;
    align-items: center;
}

.a-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    left: 200px;
    padding-right: 200px;
}

.a-right {
    flex: 1;
    position: relative;
    height: 100%;
    margin-top: 1.5rem;
}

.a-card {
    width: 60%;
    height: 60vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    display: flex;
    bottom: 10%;   
}

.a-img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 35px;
}

.a-title {
    font-weight: 400;
    font-family: 'Permanent Marker', cursive;
    bottom: 10%;
    font-size: 50px;
    margin-bottom: 3rem;
}

.a-sub {
    margin: 20px 0px;
}

.a-desc {
    font-weight: 300;
    padding: 10px;
}

.a-tech {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a-tech-texts {
    /* width: 70%; */
    display: flex;
    align-items: center;
}

.a-tech-title {
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
    font-family: 'Permanent Marker', cursive;
}

.a-tech-lang {
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Rubik', sans-serif;
    border-bottom: 1px solid black;
    width: auto;
    padding: 2px;
    text-align: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.a-tech-db {
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Rubik', sans-serif;
    border-bottom: 1px solid black;
    width: auto;
    padding: 2px;
    text-align: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.a-tech-frame {
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Rubik', sans-serif;
    border-bottom: 1px solid black;
    width: auto;
    padding: 2px;
    text-align: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.a-tech-servers {
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Rubik', sans-serif;
    border-bottom: 1px solid black;
    width: auto;
    padding: 2px;
    text-align: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.a-tech-item {
    list-style-type: none;
    justify-content: center;
    
}


@media screen and (max-width: 480px) {
    .a {
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }

    .a-left {
        width: 100%;
    }

    .a-card {
        height: 30vh;
    }

    .a-card.bg, .a-award {
        display: none;
    }

    .a-right {
        padding: 20px;
    }


}