.a {
    height: 100vh;
    display: flex;
    align-items: center;
}

.a-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.a-right {
    flex: 1;
    position: relative;
    height: 100%;
    margin-top: 20rem;
}

.a-card {
    width: 60%;
    height: 60vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    display: flex;
    bottom: 10%;   
}

.a-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 35px;
}

.a-title {
    font-weight: 400;
    font-family: 'Permanent Marker', cursive;
    bottom: 10%;
    font-size: 50px;
    margin-bottom: 3rem;
}

.a-sub {
    margin: 20px 0px;
    font-size: 20px;
}

.a-desc {
    width: 60%;
    font-weight: 300;
    padding: 10px;
}

h2 {
    font-family: 'Permanent Marker', cursive;
    margin-top: 1rem;
}

.a-tech {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a-tech-texts {
    /* width: 70%; */
    display: flex;
    align-items: center;
}

.a-tech-title {
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
    font-family: 'Permanent Marker', cursive;
}

.a-tech-lang {
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Rubik', sans-serif;
    border-bottom: 1px solid black;
    width: auto;
    padding: 2px;
    text-align: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.a-tech-db {
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Rubik', sans-serif;
    border-bottom: 1px solid black;
    width: auto;
    padding: 2px;
    text-align: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.a-tech-frame {
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Rubik', sans-serif;
    border-bottom: 1px solid black;
    width: auto;
    padding: 2px;
    text-align: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.a-tech-servers {
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Rubik', sans-serif;
    border-bottom: 1px solid black;
    width: auto;
    padding: 2px;
    text-align: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.a-tech-item {
    list-style-type: none;
    justify-content: center;
    
}

.a-quote {
    font-size: 12px;
}

.a-tech-list {
    display: flex;
    width: 50%;
}

.a-tech-list-title {
    font-family: 'Caveat', cursive;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.a-tech-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


@media screen and (max-width: 480px) {
    .a {
        flex-direction: column;
        text-align: center;
        margin-top: 120px;
    }

    .a-left {
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 0;
        left: 0;
        top: 60px;
        width: 100%;
    }

    .a-card {
        height: 30vh;
    }

    .a-card.bg, .a-award {
        display: none;
    }

    .a-right {
        padding: 20px;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
        top: -300px
    }

    h2 {
        display: none;
    }

    .a-tech-list {
        display: none;
    }

    .a-sub {
        display: flex;
        justify-content: center;
        align-items: center;
        top: -60px;
    }

    .a-quote {
        display: none;
    }

    .a-desc {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 75px;
    }

    .a-mobile {
        display: none;
    }

}