.p-box {
    width: 30%;
    height: 55vh;
    margin: 20px 10px;
    border: 2px solid rgb(243, 242, 242);
    border-radius: 10px;
    overflow: hidden;
}

.p-browser {
    height: 20px;
    background-color: rgb(243, 242, 242);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}

.p-circle {
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
    margin: 3px;
}

.p-title {
    font-family: 'Permanent Marker', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-img {
    width: 100%;
    transition: all 10s ease;
}

.p:hover .p-img {
    transform: translateY(-100%);
}

.p-desc {
    text-align: center;
    margin: 2px;
}

.p-tech {
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
}

.p-icon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 45px;
    padding-top: 0.5rem;
    color: black;
}

.p-icon:hover {
    color: #003d7a;
}

@media screen and (max-width: 480px) {
    .p-box {
        width: 70%;
        height: 40vh;
    }

    .p-desc {
        display: none;
    }
}