.footer {
    width: 100vw;
    height: 15vh;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerIcons {
    padding: 100px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    font-size: 60px;
    color: black;
}

.github:hover, .linkedIn:hover, .instagram:hover, .twitter:hover {
    cursor: pointer;
    color: #0037da;
}

.github:visited, .linkedIn:visited, .instagram:visited, .twitter:visited {
    cursor: pointer;
    color: black;
}

.github:visited:hover, .linkedIn:visited:hover, .instagram:visited:hover, .twitter:visited:hover {
    cursor: pointer;
    color: #0037da;
}
