.footer {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8rem;
}

.footerIcons {
    padding: 100px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    font-size: 60px;
    color: black;
}

.github:hover, .linkedIn:hover, .instagram:hover, .twitter:hover {
    cursor: pointer;
    color: #0037da;
}

.github:visited, .linkedIn:visited, .instagram:visited, .twitter:visited {
    cursor: pointer;
    color: black;
}

.github:visited:hover, .linkedIn:visited:hover, .instagram:visited:hover, .twitter:visited:hover {
    cursor: pointer;
    color: #0037da;
}

@media screen and (max-width: 480px) {
    .footerIcons {
        display: flex;
        justify-content: space-evenly;
        /* margin-top: 1rem; */
        padding-top: 0;
        padding-bottom: 0;
    }

    .footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .github, .linkedIn, .instagram, .twitter {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0;
        padding-bottom: 0;
    }
}
